<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 leftNav">
      <button mat-raised-button color="primary" routerLink="/ifelse">IfElse</button><br>
      <button mat-raised-button color="primary" routerLink="/pipes">Pipes</button><br>
      <button mat-raised-button color="primary" routerLink="/userlist">UserList</button> <br>
      <button mat-raised-button color="primary" routerLink="/login">Login</button> <br>
    </div>
    <div class="col-md-10">
      <div class="right-panel">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
